:root {
  --clr-primary-100: #7c5dfa;
  --clr-primary-200: #9277ff;
  --clr-primary-400: #252945;

  --clr-secondary-200: #888eb0;
  --clr-secondary-300: #7e88c3;
  --clr-secondary-350: #373b53;
  --clr-secondary-400: #0c0e16;
  --clr-secondary-450: #f9fafe;
  --clr-secondary-500: #ec5757;
  --clr-secondary-600: rgb(255, 151, 151);
  --clr-secondary-700: #f8f8fb;
  --clr-secondary-750: #373b53;
  --clr-secondary-800: #141625;
  --clr-secondary-900: #858bb2;
  --clr-secondary-950: #fff;

  --clr-primary: #fff;

  --clr-primary-text: #121721;
  --clr-secondary-text: #ffffff;

  --ff-primary: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 13px;
  --fs-200: 15px;
  --fs-300: 24px;
}

[data-theme="dark"] {
  --clr-primary-200: #939bf4;
  --clr-primary-400: #121721;

  --clr-secondary-200: #ffffff;
  --clr-secondary-300: #dfe3fa;
  --clr-secondary-350: #0c0e16;
  --clr-secondary-400: #ffffff;
  --clr-secondary-450: #252945;
  --clr-secondary-700: #141625;
  --clr-secondary-750: #ffffff;
  --clr-secondary-900: #ffffff;
  --clr-secondary-950: #1e2139;

  --clr-primary-text: #ffffff;
}

[data-theme="dark"] .icon-sun {
  display: flex;
  background-color: #1e2139;
}

[data-theme="dark"] .icon-moon {
  display: flex;
}

[data-theme="dark"] .form input {
  border: none;
}

[data-theme="dark"] .header {
  background-color: #1e2139;
}

* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: var(--ff-primary);
  box-sizing: border-box;
  background-color: var(--clr-secondary-700);
}

.header {
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: #373b53;
  border-radius: 0px 20px 20px 0px;
  position: fixed;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #7c5dfa 0%,
    #7c5dfa 50%,
    #9277ff 50%,
    #9277ff 100%
  );
  border-radius: 0px 20px 20px 0px;
  padding: 32px;
}

.logo-img {
  width: 40px;
  height: 37px;
}

.dark-theme {
  bottom: 121px;
  position: absolute;
  margin: 0px 41px;
  background-color: #494e6e;
}

.btn-theme {
  border: none;
  background-color: #373b53;
  cursor: pointer;
}

.icon-sun {
  display: none;
  transform: scale(1.3);
}

.icon-moon {
  transform: scale(1.3);
}

.div-border {
  height: 1px;
  width: 100%;
  background-color: #494e6e;
  bottom: 88px;
  position: absolute;
}

.avatar {
  bottom: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 0px 32px;
}

.jobs-grid {
  display: grid;
  /*   display: grid;*/
  justify-content: center;
  align-items: center;
  min-width: 1080px;
  margin-top: 48px;
  margin-bottom: 105px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
  min-width: 1080px;
}

.invoice {
  display: block;
  color: var(--clr-secondary-400);
  opacity: 0.8;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.total-invoice {
  display: flex;
  align-items: center;
  color: var(--clr-secondary-200);
  opacity: 0.6;
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
}

.total-invoice-count {
  margin-left: 3px;
  margin-right: 3px;
}

.invoices-text {
  margin-left: 5px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 287px;
  margin-right: 41px;
}

.filter-title {
  color: var(--clr-secondary-400);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  margin-right: 8px;
}

.btn-arrow-down {
  border: none;
  background-color: var(--clr-secondary-700);
  cursor: pointer;
}

.add-invoice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-100);
  border-radius: 24px;
}

.add-invoice:hover {
  background-color: var(--clr-primary-200);
}

.btn-add {
  background-color: var(--clr-primary);
  margin-right: 16px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.add-title {
  color: var(--clr-primary);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  margin-right: 8px;
}

.posts {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.7fr 1fr 0.4fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  background-color: var(--clr-secondary-950);
  font-size: var(--fs-200);
  padding: 30px 0px 27px 32px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  border: 1px solid transparent;
}

.posts:hover {
  border: 1px solid #7c5dfa;
}

.id-post {
  font-weight: var(--fw-bold);
  color: var(--clr-secondary-400);
}

.hashtag {
  color: var(--clr-secondary-300);
  opacity: 0.7;
}

.payment-due {
  color: var(--clr-secondary-200);
  opacity: 0.6;
  font-weight: var(--fw-regular);
  margin: auto;
  padding-right: 10px;
}

.client-name {
  color: var(--clr-secondary-900);
  opacity: 0.6;
  font-weight: var(--fw-regular);
  padding-right: 10px;
  margin: auto;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-secondary-400);
  opacity: 0.8;
  font-weight: var(--fw-bold);
  /* margin-right: 40px; */
  padding-right: 10px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 30px 11px 30px;
  border-radius: 6px;
  margin-right: 20px;
}

.status-paid {
  color: #33d69f;
  background-color: rgba(51, 214, 159, 0.0571);
}

.status-pending {
  color: #ff8f00;
  background-color: rgba(255, 143, 0, 0.0571);
}

.status-draft {
  color: var(--clr-secondary-750);
  background-color: rgba(55, 59, 83, 0.0571);
}

.status-circle-paid {
  background-color: #33d69f;
}

.status-circle-pending {
  background-color: #ff8f00;
}

.status-circle-draft {
  background-color: var(--clr-secondary-750);
}

.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-post {
  font-weight: var(--fw-bold);
}

.status-post::first-letter {
  text-transform: uppercase;
}

.btn-arrow-right {
  border: none;
  background-color: var(--clr-secondary-950);
  cursor: pointer;
}

.link {
  text-decoration: none;
}

/* Backdrop */

.backdrop {
  display: flex;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.backdrop-delete {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 409px;
  height: 138px;
  transform: translate(-50%, -50%);
  background-color: var(--clr-secondary-950);
  border-radius: 8px;
  padding: 51px 48px 48px 48px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.title {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--clr-secondary-400);
  margin-bottom: 12px;
  line-height: 32px;
}

.description {
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  color: var(--clr-secondary-200);
  opacity: 0.6;
  margin-bottom: 14px;
}

.buttons {
  float: right;
}

.btn-cancel-edit {
  background-color: var(--clr-secondary-450);
  color: var(--clr-secondary-300);
  border-radius: 24px;
  padding: 17px 25px 17px 24px;
  border: none;
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  margin-right: 8px;
  cursor: pointer;
}

.btn-cancel-edit:hover {
  opacity: 0.5;
}

.btn-discard {
  color: #7e88c3;
  background-color: #f9fafe;
  cursor: pointer;
}

.btn-delete {
  background-color: var(--clr-secondary-500);
  color: var(--clr-primary);
  border-radius: 24px;
  padding: 17px 25px 17px 24px;
  border: none;
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.btn-delete:hover {
  background-color: var(--clr-secondary-600);
}

.empty {
  display: none;
  /*   display: grid;*/
  justify-content: center;
  align-items: center;
  min-width: 1080px;
  margin-top: 160px;
}

.individual-page {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 1080px;
  margin-top: 65px;
}

.arrow-go-back {
  display: flex;
  align-items: center;
}

.btn-arrow-left {
  margin-right: 20px;
  cursor: pointer;
}

.title-back {
  color: var(--clr-secondary-400);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
}

/* Individual Page */

.individual-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  background-color: var(--clr-secondary-950);
  padding: 20px 32px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.mark-as-paid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-100);
  color: var(--clr-primary);
  border-radius: 24px;
  border: none;
  border-radius: 24px;
  padding: 17px 25px 17px 24px;
  margin: 8px;
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.mark-as-paid:hover {
  background-color: var(--clr-primary-200);
}

.individual-page .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 198px;
}

.status-title {
  color: var(--clr-secondary-900);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  margin-right: 20px;
}

.container {
  padding: 50px 48px 48px 48px;
  margin-top: 24px;
  margin-bottom: 54px;
  background-color: var(--clr-secondary-950);
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.container-amount {
  background-color: var(--clr-secondary-450);
  border-radius: 8px 8px 9px 9px;
  margin-top: 44px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  margin-bottom: 21px;
}

.container-content {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr;
  line-height: 18px;
}

.container-amount-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 34px 32px 32px;
}

.container-amount-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 34px 39px 32px;
}

.container-amount-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-secondary-350);
  border-radius: 0px 0px 8px 8px;
  color: var(--clr-primary);
  padding: 27px 32px 21px 32px;
}

.subtitle {
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  color: var(--clr-secondary-300);
}

.id-post .subtitle {
  margin-top: 7px;
}

.content {
  font-size: var(--fs-200);
  color: var(--clr-secondary-400);
  font-weight: var(--fw-bold);
  margin-top: 13px;
  margin-bottom: 7px;
}

.item {
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  color: var(--clr-secondary-300);
  font-weight: var(--fw-bold);
}

.subtitle-2 {
  margin-top: 31px;
}

.container-amount-total-title {
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
}

.container-amount-total-price {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

/* Edit Form */

.edit-form {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 40%;
  background-color: var(--clr-secondary-700);
  border-radius: 8px;
  padding: 59px 56px 32px 159px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.form .btn-cancel-edit path {
  fill: var(--clr-secondary-300);
}

.form .content {
  margin: 0;
  margin-top: 9px;
}

.form .id-post {
  font-size: var(--fs-300);
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.container-form input {
  box-sizing: border-box;
  width: 100%;
}

.input-date-svg {
  position: absolute;
  top: 57%;
  right: 24px;
}

.input-days-svg {
  position: absolute;
  top: 60%;
  right: 24px;
}

.container-form .container-form-div {
  margin-right: 24px;
  position: relative;
}

.container-form-div-2 {
  position: relative;
}

.form input {
  padding: 18px 20px 15px 20px;
  border-radius: 4px;
  border: 1px solid #dfe3fa;
  background-color: var(--clr-secondary-950);
}

.form input:focus {
  outline-color: #9277ff;
}

.title-form {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  margin-top: 49px;
  margin-bottom: 24px;
}

.item-change {
  display: grid;
  grid-template-columns: 0.47fr 0.05fr 0.2fr 0.09fr 0.03fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.container-item-change input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1ch;
  padding: 18px 20px 15px 20px;
}

.btn-add-item {
  margin-top: 18px;
  margin-bottom: 39px;
  cursor: pointer;
}

.buttons-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 40%;
  padding: 31px 56px 31px 159px;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--clr-secondary-700);
  box-shadow: 0px -5px 141px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.buttons-form:hover {
  box-shadow: none;
}

.btn-trash {
  border: none;
  background-color: var(--clr-secondary-700);
  cursor: pointer;
}

.mt {
  margin-top: 25px;
}

.item-list {
  color: #777f98;
  font-size: 18px;
  font-weight: var(--fw-bold);
  margin: 35px 0 14px 0;
}

.save-draft-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373b53;
  color: var(--clr-secondary-200);
  border-radius: 24px;
  border: none;
  border-radius: 24px;
  padding: 18px 25px 15px 24px;
  margin: 8px;
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.save-draft-btn:hover {
  background-color: #1e2139;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-post {
  display: grid;
  position: absolute;
  z-index: 1;
  top: 132px;
  left: 52%;
  padding: 8px 88px 24px 24px;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  background-color: var(--clr-secondary-950);
}

.filter-post label {
  color: var(--clr-secondary-400);
  margin-left: 13px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  text-transform: capitalize;
}

.filter-post-div {
  display: flex;
  align-items: center;
  margin-top: 16px;
  cursor: pointer;
}

.checkbox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #dfe3fa;
}

.checkbox:hover {
  border: 1px solid #7c5dfa;
}

.checkbox.active {
  background-color: #7c5dfa;
}

input.content[type="date"]::-webkit-calendar-picker-indicator {
  background: url(/public/assets/icon-calendar.svg);
  background-repeat: no-repeat;
}

.options-payment {
  display: grid;
  position: absolute;
  z-index: 3;
  top: 69%;
  left: 55%;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  background-color: var(--clr-secondary-950);
}

.options {
  padding: 16px 156px 16px 24px;
  border: 1px solid #dfe3fa;
  font-size: var(--fs-200);
  color: var(--clr-secondary-400);
  font-weight: var(--fw-bold);
}

.options:hover {
  color: #7c5dfa;
}

@media (max-width: 937px) {
  .header {
    display: flex;
    align-items: center;
    right: 0px;
    height: auto;
    width: 100%;
    border-radius: 0px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    min-width: 0px;
  }

  .jobs-grid {
    min-width: 0px;
  }

  .avatar {
    bottom: 30%;
    right: 0;
  }

  .div-border {
    right: 101px;
    height: 100%;
    width: 1px;
    bottom: 0;
  }

  .dark-theme {
    bottom: 30%;
    right: 105px;
    bottom: unset;
  }

  .individual-page {
    margin-top: 100px;
    padding-top: 40px;
    min-width: 0px;
  }

  .form {
    padding-left: 56px;
    width: 60%;
  }

  .buttons-form {
    width: 60%;
    padding: 31px 56px 31px 56px;
  }

  .filter-post {
    top: 190px;
    left: 54%;
  }

  .options-payment {
    top: 69%;
    left: 45%;
  }
}

@media (max-width: 500px) {
  .options-payment {
    top: 157px;
    left: 0%;
  }

  .filter {
    margin-left: 86px;
  }

  .filter-post {
    left: 30%;
  }

  .jobs-grid {
    margin-top: 32px;
  }

  .btn-arrow-right {
    display: none;
  }

  .posts {
    display: block;
    position: relative;
    padding: 25px 24px 22px 24px;
  }

  .avatar {
    margin: 0 30px 0 24px;
  }

  .posts .id-post {
    margin-bottom: 24px;
  }

  .posts .client-name {
    position: absolute;
    justify-content: flex-end;
    right: 24px;
    top: 25px;
    padding: 0;
  }

  .posts .status {
    position: absolute;
    justify-content: flex-end;
    right: 0px;
    bottom: 28px;
  }

  .posts .total {
    justify-content: flex-start;
  }

  .posts .payment-due {
    margin-right: 187px;
    margin-bottom: 9px;
  }

  .individual-page {
    position: relative;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 33px;
  }

  .individual-page-header {
    display: flex;
    align-items: center;
    padding: 37px 24px 39px 24px;
  }

  .individual-page-header .status {
    position: absolute;
    right: 24px;
  }

  .individual-page-header .status-title {
    display: flex;
    justify-content: flex-start;
    left: 0;
    margin-right: 140px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 147px;
  }

  .individual-page .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: none;
    margin: 10px 0;
  }

  .container-content {
    display: flex;
    position: relative;
    padding-bottom: 90px;
  }

  .container-header {
    display: grid;
  }

  .container-header .id-post {
    margin-bottom: 30px;
  }

  .container-content-sent-to {
    position: absolute;
    bottom: -10px;
  }

  .container-content-payment {
    margin-right: 62px;
  }

  .container-amount-title {
    display: none;
  }

  .container-amount-items {
    position: relative;
    padding: 25px 24px 34px 24px;
  }

  .container-amount-items-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
  }

  .container-amount-total {
    padding: 26px 24px 22px 24px;
  }

  .backdrop-delete {
    padding: 36px 32px 32px 32px;
    width: 290px;
  }

  .individual-page .buttons {
    bottom: 0px;
  }

  .form {
    width: 90%;
    padding: 121px 24px 32px 24px;
  }

  .buttons-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 21px 24px 22px 24px;
  }

  .container-form {
    position: relative;
    padding-bottom: 90px;
    gap: 20px;
  }

  .input-country-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .contaner-form-payment {
    padding-bottom: 0;
    display: block;
    width: 100%;
  }

  .container-form .container-form-div {
    margin-right: 0;
  }

  .container-item-change {
    position: relative;
    padding-top: 90px;
    margin-top: 22px;
  }

  .item-name {
    position: absolute;
    top: 0px;
  }

  .item-change {
    align-items: center;
    grid-template-columns: 0.15fr 0.25fr 0.01fr 0.01fr 0.05fr;
  }

  .item-name-company {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .item-quantity {
    width: 20px;
  }

  .item-price {
    width: 60px;
  }

  .input-mobile {
    width: 50%;
  }
}
